/* Purpose: This file contains the CSS styling for the ControlPanel widget. 
There are some limitations to the styling CSS that have to be applied to Qt widgets instead
Besides the CSS styling method is a good go to for improving styling but have to be careful for conflicts
between styling in .ui and in the CSS file
I mostly defined class CSS styling
*/

QWidget {
    background-color: #FFFFFF; /* Dark background */
    color: #000000; /* White text */
}
QPushButton {
    background-color: #E3E3E3;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border: #000000;
    border-radius: 8px; /* Rounded corners */
}
QPushButton#pitchDownButton, QPushButton#pitchUpButton,
QPushButton#rollDownButton, QPushButton#rollUpButton,
QPushButton#yawDownButton, QPushButton#yawUpButton {
    background-color: transparent;
    border: none; /* Remove border */
    padding: 0px; /* Adjust padding to make the button smaller */
    min-width: 20px; /* Smaller buttons for the arrows */
    max-width: 20px;
}
QPushButton:pressed {
    background-color: #D3D3D3; /* Lighter color on press */
}
QGroupBox {
    border: 2px solid #ffffff; /* White border */
    border-radius: 5px;
    margin-top: 1em;
}
QGroupBox:title {
    left: 10px;
    padding: 0 3px 0 3px;
    color: #000000; /* White text */
}
QLCDNumber {
    background-color: #121212; /* Dark background for LCD */
    color: #000000; /* Green text */
}
QLabel {
    font-size: 18px; /* Larger font size for labels */
}
QListWidget {
    background-color: #ffffff; /* Light background */
    color: #000000; /* Dark text for readability */
    font-size: 16px; /* Adjust the size as needed */
    /* other styles */
}
QPlainTextEdit {
    background-color: #7E8584;
    font-size: 18px; /* Larger font size for logs */
}

#topRowContainer{
    background-color: #09496d; 
}
#topRowLayout{
    background-color: #09496d; 
}
#logoLabel, #versionLabel {
    background-color: #09496d;
    color: #FFFFFF; /* Assuming you want white text */
    font-size: 24px; /* Increased font size */
    padding: 5px; /* Add padding for more space */
    margin-bottom: 5px;
}
QLineEdit {
    font-size: 20px; 
    color: #000000; 
    background-color: #f0f0f0; 
    border: 1px solid #f0f0f0; 
    max-width: 50px; 
    
}

QListWidget#fileList {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    font-size: 18px; /* Larger font size for file names */
    width: 300px;  /* Set a specific width */

}

/* Style for QListWidget items */
QListWidget#fileList::item {
    border-bottom: 1px solid #eaeaea;
    padding: 0px; /* Increased padding for larger area */
}

/* Style for the QPushButton inside the QListWidget item */
QListWidget#fileList QPushButton {
    background-color: transparent; 
    border: none; 
    color: #FF0000;
    padding: 0px; 
    margin-right: 5px; 
}

QPushButton#importButton {
    background-color: #E3E3E3;
    color: rgb(0, 0, 0); 
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
QPushButton#removeButton {
    background-color: transparent;
    border: none;
    color: #FF0000; 
    font-weight: bold;
    padding: 0px;
}

QListWidget#fileList QPushButton:hover {
    background-color: rgba(255, 0, 0, 0.1); 
    border-radius: 5px;
}

QListWidget::item {
    padding: 5px;
    border-bottom: 1px solid #eaeaea; /* This adds a separator which might help in readability */
}