/* Purpose: This file contains the CSS styling for the RunPopUp widget. 
There are some limitations to the styling CSS that have to be applied to Qt widgets instead
Besides the CSS styling method is a good go to for improving styling but have to be careful for conflicts
between styling in .ui and in the CSS file
I mostly defined class CSS styling
*/

/* General widget styling */
QWidget {
    background-color: #f0f0f0; /* Adjust if different background color is needed */
}
/* Button styling */
QPushButton {
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: #c8c8c8;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    margin: 2px;
    font-size: 12px; /* Standardized font size */
    font-weight: normal; /* Standardized font weight */
}
QPushButton:hover {
    background-color: #09496d;
    color: white /* Color for button hover state */
}

QListWidget#fileListWidget::item {
    font-size: 8px; 
}

QPushButton:pressed {
    background-color: #d0d0d0;
}

/* Group box styling */
QGroupBox {
    border: 0; /* Removes border */
    margin-top: 0px; /* Adjust as needed */
    padding-top: 0px; /* Adjust as needed */
}

QGroupBox::title {
    padding: 0 3px;
    background-color: transparent;
    color: #000000;
    font-size: 16px; /* Increased font size */
    font-weight: bold; /* Make sure it's bold */
}

/* Label styling */
QLabel {
    color: #000000;
    font-size: 12px; /* Standardized font size */
    font-weight: bold; /* Standardized font weight */
    margin: 0;
    padding: 0;
    text-align: center;
}


QRadioButton::indicator {
    width: 13px;
    height: 13px;
}

QCheckBox::indicator {
    width: 13px;
    height: 13px;
}

QLineEdit {
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    padding: 5px;
    /* Add any other styling you wish to apply */
}

/* Scroll area styling */
QScrollArea {
    border: none; /* No border for scroll area */
}

/* List widget styling */
QListWidget {
    border: 1px solid #c8c8c8;
    border-radius: 4px;
}
/* List widget item styling */
QListWidget::item {
    color: #000000; /* This sets the text color to a dark grey */
}
/* List widget item styling when selected */
QListWidget::item:selected {
    background-color: #dcdcdc; /* Light grey background for selected item */
    color: #333333; /* Darker text color when selected */
}

/* Plain text edit styling */
QPlainTextEdit {
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Padding inside the text edit */
}
QLabel#headerLabel {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff; /* Or whatever color you want */
    padding: 10px; /* Adjust padding to match the desired look */
    background-color: #09496d; /* Adjust if different background color is needed */
    /* Add other properties like text alignment, margins, etc. */
}

QHBoxLayout {
    margin: 0;
    padding: 0;
}